{% extends "painel/index.html" %} 
{% load static %}

{% block content %}

{% if user.is_authenticated %}

<h1>Cadastrar Vagas</h1>
<form action="/painel/cadastravaga" method="POST">
   {% csrf_token %}
   {{ form.as_p }} 
   <input type="submit" value="Cadastrar"/>
</form>
<div>
	<a class="Voltar" href="meuperfil"><i class="fas fa-undo fa-2x"></i>Voltar</a>
</div>

{% else %}
  <div class="alert alert-danger" role="alert" ><a href="/painel/autenticar"><i class="fas fa-exclamation-triangle"></i>Faça login no sistema para ter acesso as funções</a>  
</div>
{% endif %}
{% endblock %}

}