{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Pagina Inicial do Sharing Park</title>

	<!--BOOTSTRAP -->
<link rel="stylesheet" href="{% static '/painel/css/bootstrap.min.css' %}">
<script src="{% static '/painel/js/bootstrap.min.js' %}"></script> 
<script src="{% static '/painel/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/painel/js/jquery-3.3.1.slim.min.' %}"></script>

<!--FONTAWESOME -->
<script src="{% static '/painel/js/all.js' %}"></script> 
<link rel="stylesheet" href="{% static '/painel/css/all.css' %}">

<!--Arquivo Css -->
<link rel="stylesheet" href="{% static '/painel/estilos.css' %}" >

</head>

<body>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{user}}<i class="fas fa-user"></i></a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="/painel/sair"><i class="fas fa-sign-out-alt"></i>Sair</a>
    {% else %}
    <a class="nav-link" href="/painel/autenticar"><i class="fas fa-sign-in-alt"></i>Login </a>
  </li>
  {% endif %}
</ul>


{% block content %}
<div class="container-fluid">   
<div>
    <div class="card mb-3">
    <img src="{% static '/painel/Index.jpeg' %}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Vantagens de Usar o sharing Park:</h5>
      <p class="card-text"> Mobilidade, Custos mais baixos, compartilhamento. Essas são algumas vantagens do nosso sistema. Peça acesso e começe a usar.</p>
      <p class="card-text"><small class="text-muted">Desenvolvido por Cassiano Trezzi, Daniel Curti, Cleiton Souza e Anderson Strack</small>
      </p>
    </div>
  </div>
</div>
</div>




{% endblock %}


</body>


</html>
