{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Meu Perfil</title>


<!--BOOTSTRAP -->
<script src="{% static '/painel/js/bootstrap.min.js' %}"></script> 
<link rel="stylesheet" href="{% static '/painel/css/bootstrap.min.css' %}">

<!--FONTAWESOME -->
<script src="{% static '/painel/js/all.js' %}"></script> 
<link rel="stylesheet" href="{% static '/painel/css/all.css' %}">

<!--Arquivo Css -->
<link rel="stylesheet" href="{% static '/painel/css/estilo.css' %}" >


</head>
<body>
{% block content %}

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{user}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Meus dados</a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="/painel/sair"><i class="fas fa-sign-out-alt"></i>Sair</a>
    {% else %}
  </li>
  {% endif %}
  </ul>
<div class="centro">

<div class="Ajuste">
  <div class="card" style="width: 18rem;">
  <img src="{% static '/painel/card3.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cadastrar Vagas</h5>
    <p class="card-text"> Cadastre sua vaga e começe a ganhar dineiro.</p>
    <a href="cadastravaga"><i class="far fa-edit"></i>Cadastre Agora</a>
  </div>
</div>
</div>

<div class="Ajuste">
<div class="card" style="width: 18rem;">
  <img src="{% static '/painel/card1.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Alugar uma vaga</h5>
    <p class="card-text"> Alugue sua vaga e estacione aonde quiser.</p>
    <a href="vagas"><i class="fas fa-eye"></i>Alugar agora</a>
  </div>
</div>
</div>

<div class="Ajuste">
<div class="card" style="width: 18rem;">
  <img src="{% static '/painel/card2.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Adicionar informações adicionais </h5>
    <p class="card-text">Adicione fotos e localização para que a sua vaga fique bem localizada e visivel a todos.</p>
    <a href="adicional"><i class="far fa-edit"></i>Realizar Ajustes</a>
  </div>
</div>
</div>

</div>

  {% endblock %}
  




</body>
</html>

