{% extends "painel/index.html" %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
  <title>Meu Perfil</title>
</head>
<body>


{% block content %}

  {% if user.is_authenticated %}

<div class="centro">
<div class="Ajuste">
  <div class="card" style="width: 18rem;">
  <img src="{% static '/painel/card3.jpg' %}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Cadastrar Vagas</h5>
    <p class="card-text"> Cadastre sua vaga e começe a ganhar dineiro.</p>
    <a href="cadastravaga"><i class="far fa-edit"></i>Cadastre Agora</a>
  </div>
</div>
</div>

<div class="Ajuste">
<div class="card" style="width: 18rem;">
  <img src="{% static '/painel/card1.jpg' %}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Alugar uma vaga</h5>
    <p class="card-text"> Alugue sua vaga e estacione aonde quiser.</p>
    <a href="vagas"><i class="fas fa-eye"></i>Alugar agora</a>
  </div>
</div>
</div>

<div class="Ajuste">
<div class="card" style="width: 18rem;">
  <img src="{% static '/painel/card2.jpg' %}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Adicionar informações adicionais </h5>
    <p class="card-text">Adicione fotos e localização para que a sua vaga fique bem localizada e visivel a todos.</p>
    <a href="adicional"><i class="far fa-edit"></i>Realizar Ajustes</a>
  </div>
</div>
</div>

</div>
{% else %}
  <div class="alert alert-danger" role="alert" ><a href="/painel/autenticar"><i class="fas fa-exclamation-triangle"></i>Faça login no sistema para ter acesso as funções</a>  
</div>
{% endif %}
{% endblock %}
  
  




</body>
</html>


